.hidden {
    visibility: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 150px;
    height: 120px;
    object-fit: cover;
}

.filter-overlay {
    min-height: 1.5rem;
    visibility: hidden;
}
.filter-overlay.active {
    visibility: visible;
}